ext_if = "{{ ext_if }}"
jail_if = "{{ bastille_interface }}"
nfs_net = "{{ nfs_client_cidr }}"
admin_ip = "{{ admin_ip }}"
ssh_port = "22"

set block-policy return
scrub in on $ext_if all fragment reassemble
set skip on lo

table <jails> persist {
{% for jail in jails %}
  {{ jail.prefix }}.{{ jail.octet }}{% if not loop.last %},{% endif %}
{% endfor %}
}

nat on $ext_if from <jails> to any -> ($ext_if:0)
rdr-anchor "rdr/*"

{% for jail in jails %}
{% for p in jail.ports | default([]) %}
rdr pass on $ext_if proto {{ p.proto }} from any to ($ext_if) port {{ p.port }} -> {{ jail.prefix }}.{{ jail.octet }} port {{ p.port }}
{% endfor %}
{% endfor %}

block in all
pass out keep state
pass in quick on $jail_if from <jails> to any keep state

# Administration
pass in quick on $ext_if proto tcp from $admin_ip to ($ext_if) port $ssh_port keep state

# NFSv3 côté hôte
pass in quick on $ext_if proto { tcp udp } from $nfs_net to ($ext_if) port { 111, 2049, {{ mountd_port }}, {{ rpc_statd_port }}, {{ rpc_lockd_port }} } keep state (sloppy)
# pass in quick on $ext_if proto { tcp udp } from $nfs_net to ($ext_if) port { 111, 2049, 892, 894, 925, 1003 } keep state (sloppy)

# Ports publiés vers les jails
{% for jail in jails %}
{% for p in jail.ports | default([]) %}
pass in quick on $ext_if proto {{ p.proto }} from any to ($ext_if) port {{ p.port }} keep state
{% endfor %}
{% endfor %}
